* {
  box-sizing: border-box;
  padding: 0;
}

#grid_div {
  display: grid;
  font-size: large;

  grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "gallery gallery gallery gallery"
    "footer footer footer footer";
}
.logo {
  cursor: pointer;
  height: 50px;
  width: 80px;
}

#header {
  grid-area: header;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-between;
  height: 10vh;
  background-color: black;
  color: white;
}
.logo {
  cursor: pointer;
}
a:link {
  color: white;
  text-decoration: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li :hover {
  display: block;
  color: #5da900;
  background-color: rgb(9, 9, 9);
}
.nav_links li :visited {
  
  color: #fcfdfa;
  background-color: rgb(9, 9, 9);
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

#main {
  grid-area: main;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-around;
  height: 130vh;
  background-image:  linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.75)),url( /imag/man&phon.jfif);
}
.mane {
  background-color: rgb(0, 0, 0, 0.5);
  width: 800px;
  border-radius: 15px 15px 0px 0px;
  color: #e5e5e5;
}
form {
  padding: 10px;

}
#name {
  margin-left: 25px;
  margin-top: 40px;
  width: 125px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.firstName {
  position: relative;
  left: 175px;
  top: 5px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.firstladel {
  position: relative;
  text-transform: capitalize;
  font-size: 14px;
  left: -21px;
  top: -35px;
  color: rgb(250, 246, 246);
  font-size: 23px;
  font-weight: bold;
}
.lastName{
  position: relative;
  left: 175px;
  top: 15px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.phon-label{
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 4px;
  top: -20px;
  color: rgb(245, 241, 241);
  font-size: 23px;
  font-weight: bold;
}
.lestLabel {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: -21px;
  top: -20px;
  color: rgb(252, 244, 244);
  font-size: 23px;
  font-weight: bold;
}

.email {
  position: relative;
  left: 200px;
  top: -53px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}
.num {
  position: relative;
  left: 200px;
  top: -80px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

#seand-btr{
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  
}
.contactUs{
    width: 800px;
    background-color: rgb(0,0,0.5,0.70);
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    margin-top: -10px;
    margin-left: -10px;
    color: #e5e5e5;
 }
  #footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-around;
    height: 15vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(53 56 58 / 99%);
    }
@media screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .nav_links {
    display: none;
    width: 100px;
  }
  .nav_links.active {
    display: inherit;
    width: 100vw;
  }
  .nav_links.active>ul {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    background-color: black;
  }
  button {
    color: black;
    background-color: black;
  }
  #main {
    width: 99%;
    height: 100%;
  }
  .haeder {
    display: flexbox;
    flex-direction: column;
    align-items: flex-start;
  }
  #myFORM{
    height: 537px;
  }
 
  .mane{
    width: 404px;
    height: 90%;
  }
  .num{
    width: 250px;
    top:85px;
    left: 70px;
  }
  .email{
    width:250px;
    top:55px;
    left: 70px;
  }
  .lastName{
    width: 250px;
    top:35px;
    left: 45px;
   }
  .firstName {
    width: 250px;
    left: 45px;
  }
  .contactUs{
    width: 500px;
  }
  .firstladel{
    display: none;
  }
  .lestLabel{
    display: none;
  }
  
  .phon-label{
    display: none;
  }
  .name{
    display: none;
  }
  #seand-btr{
 display: block;
margin-top: 100px;
margin-left: 145px;
  }
  .contactUs{
    width:404px;
  }
  * {
    margin: 0;
  }
  



}
